In [1]:
import pandas as pd
import numpy as np

### Users Dataframe

In [2]:
users = pd.read_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/users.csv')
users.head(5)

,_id/$oid,active,createdDate/$date,lastLogin/$date,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI

#### Dataframe shape

In [3]:
users.shape

(495, 7)

#### Column names and changing it to appropriate names

In [4]:
users.columns

Index(['_id/$oid', 'active', 'createdDate/$date', 'lastLogin/$date', 'role',
       'signUpSource', 'state'],
      dtype='object')

In [5]:
users.columns = ['UsersID', 'Active', 'CreatedDate', 'LastLoginDate', 'Role', 'SignUpSource', 'State']

In [6]:
users.head()

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI

#### Checking datatypes of Users dataframe

In [7]:
users.dtypes

UsersID           object
Active              bool
CreatedDate        int64
LastLoginDate    float64
Role              object
SignUpSource      object
State             object
dtype: object

#### Checking null/missing values

In [8]:
users.isna().sum()

UsersID           0
Active            0
CreatedDate       0
LastLoginDate    62
Role              0
SignUpSource     48
State            56
dtype: int64

In [9]:
users.isna().sum().sum()

166

In [10]:
users["State"].value_counts()

WI    396
NH     20
AL     12
OH      5
IL      3
KY      1
CO      1
SC      1
Name: State, dtype: int64

In [11]:
users["SignUpSource"].value_counts()

Email     443
Google      4
Name: SignUpSource, dtype: int64

In [12]:
users['State'].fillna('WI', inplace=True)
users['SignUpSource'].fillna('Email', inplace=True)

In [13]:
for i in users.index:
    if ((pd.isna(users['LastLoginDate'][i])) == True):
        users['LastLoginDate'][i] = users['CreatedDate'][i]

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
users.isna().sum()

UsersID          0
Active           0
CreatedDate      0
LastLoginDate    0
Role             0
SignUpSource     0
State            0
dtype: int64

In [15]:
users.to_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/users2.csv')

#### Changing format to Date/Time

In [22]:
users2 = pd.read_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/users2.csv', index_col=False)
users2.head(5)

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1609687537858,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1609687537858,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1609687537858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1609687530597,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1609687537858,consumer,Email,WI

In [23]:
import datetime
from datetime import datetime
for i in users2.index:
    users2['CreatedDate'][i] = str(users['CreatedDate'][i])[:10]
    users2['LastLoginDate'][i] = str(users['LastLoginDate'][i])[:10]
    users2['CreatedDate'][i] = datetime.fromtimestamp(int(users2['CreatedDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')
    users2['LastLoginDate'][i] = datetime.fromtimestamp(int(users2['LastLoginDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [24]:
users2.head()

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30 AM,2021-01-03 10:25:30 AM,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI

### Checking duplicate rows

In [25]:
duplicate = users2[users2.duplicated()]
duplicate

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI

#### Checking the duplicates on the basis of UserID, CreatedDate and LastLoginDate

In [26]:
duplicated = users2[users2.duplicated(['UsersID', 'CreatedDate', 'LastLoginDate'])]
duplicated.head()

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI

In [27]:
duplicated.drop_duplicates() #Removing the duplicated rows to keep data integrity

,UsersID,Active,CreatedDate,LastLoginDate,Role,SignUpSource,State
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04 AM,2021-01-03 10:25:37 AM,consumer,Email,WI
11,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30 AM,2021-01-03 10:25:30 AM,consumer,Email,WI
24,5ff370c562fde912123a5e0e,True,2021-01-04 02:47:17 PM,2021-01-04 02:50:50 PM,consumer,Email,WI
26,5ff36d0362fde912123a5535,True,2021-01-04 02:31:15 PM,2021-01-04 02:34:42 PM,consumer,Email,WI
27,5ff36be7135e7011bcb856d3,True,2021-01-04 02:26:31 PM,2021-01-04 02:29:52 PM,consumer,Email,WI
...,...,...,...,...,...,...,...
429,5fb0a078be5fc9775c1f3945,True,2020-11-14 10:28:56 PM,2020-11-14 10:28:56 PM,consumer,Google,AL
433,5fbc35711d967d1222cbfefc,True,2020-11-23 05:19:29 PM,2021-02-25 11:25:51 PM,fetch-staff,Email,WI
436,5fc961c3b8cfca11a077dd33,True,2020-12-03 05:08:03 PM,2021-02-26 05:39:16 PM,fetch-staff,Email,NH
457,5fa41775898c7a11a6bcef3e,True,2020-11-05 10:17:09 AM,2021-03-04 11:02:02 AM,fetch-staff,Email,WI
476,54943462e4b07e684157a532,True,2014-12-19 09:21:22 AM,2021-03-05 11:52:23 AM,fetch-staff,Email,WI

### Brands Dataframe

In [28]:
brands = pd.read_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/brands.csv')
brands.head(5)

,_id/$oid,barcode,category,categoryCode,cpg/$id/$oid,cpg/$ref,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827

#### Dataframe shape

In [29]:
brands.shape

(1167, 9)

#### Column names and changing it to appropriate names

In [30]:
brands.columns

Index(['_id/$oid', 'barcode', 'category', 'categoryCode', 'cpg/$id/$oid',
       'cpg/$ref', 'name', 'topBrand', 'brandCode'],
      dtype='object')

In [31]:
brands.columns = ['BrandID', 'Barcode','Category','CategoryCode','CPGID','CPGRef','BrandName','topBrand','brandCode']

In [32]:
brands.head()

,BrandID,Barcode,Category,CategoryCode,CPGID,CPGRef,BrandName,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827

#### Dataframe Datatypes

In [33]:
brands.dtypes

BrandID         object
Barcode          int64
Category        object
CategoryCode    object
CPGID           object
CPGRef          object
BrandName       object
topBrand        object
brandCode       object
dtype: object

#### Checking null/missing values

In [34]:
brands.isna().sum()

BrandID           0
Barcode           0
Category        155
CategoryCode    650
CPGID             0
CPGRef            0
BrandName         0
topBrand        612
brandCode       269
dtype: int64

In [35]:
brands.isna().sum().sum()

1686

In [36]:
brands['Category'].fillna('Other', inplace=True)

In [37]:
for i in brands.index:
    if ((pd.isna(brands['CategoryCode'][i])) == True):
        brands['CategoryCode'][i] = str(brands['Category'][i]).upper()
    if ((pd.isna(brands['brandCode'][i])) == True):
        brands['brandCode'][i] = str(brands['BrandName'][i]).upper()

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
brands['topBrand'].fillna('Not known', inplace=True)

In [39]:
brands.isna().sum()

BrandID         0
Barcode         0
Category        0
CategoryCode    0
CPGID           0
CPGRef          0
BrandName       0
topBrand        0
brandCode       0
dtype: int64

#### Checking duplicate rows

In [40]:
duplicate1 = brands[brands.duplicated()]
duplicate1

Empty DataFrame
Columns: [BrandID, Barcode, Category, CategoryCode, CPGID, CPGRef, BrandName, topBrand, brandCode]
Index: []

### Receipts Dataframe

In [168]:
receipts = pd.read_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/receipts.csv')
receipts.head(5)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,$oid:5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",$date:1609687531000,$date:1609687531000,$date:1609687531000,$date:1609687536000,$date:1609687531000,500.0,$date:1609632000000,5.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,$oid:5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",$date:1609687483000,$date:1609687483000,$date:1609687483000,$date:1609687488000,$date:1609687483000,150.0,$date:1609601083000,2.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,$oid:5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,$date:1609687537000,$date:1609687537000,NaN,$date:1609687542000,NaN,5.0,$date:1609632000000,1.0,needsFetchReview:false|partnerItemId:1|prevent...,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,$oid:5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,$date:1609687534000,$date:1609687534000,$date:1609687534000,$date:1609687539000,$date:1609687534000,5.0,$date:1609632000000,4.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,$oid:5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,$date:1609687506000,$date:1609687506000,$date:1609687511000,$date:1609687511000,$date:1609687506000,5.0,$date:1609601106000,2.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

#### Dataframe shape

In [169]:
receipts.shape

(1119, 15)

#### Column names and changing it to appropriate names

In [170]:
receipts.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent',
       'userId'],
      dtype='object')

In [171]:
receipts.columns = ['ReceiptID', 'BonusPointsEarned', 'BonusPointsEarnedReason', 'CreateDate', 'DateScanned', 'FinishedDate', 'ModifyDate', 'PointsAwardedDate', 'PointsEarned', 'PurchaseDate', 'PurchaseItemCount', 'RewardsReceiptItemList', 'RewardsReceiptStatus', 'TotalSpent', 'UserID']

In [172]:
receipts.head()

,ReceiptID,BonusPointsEarned,BonusPointsEarnedReason,CreateDate,DateScanned,FinishedDate,ModifyDate,PointsAwardedDate,PointsEarned,PurchaseDate,PurchaseItemCount,RewardsReceiptItemList,RewardsReceiptStatus,TotalSpent,UserID
0,$oid:5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",$date:1609687531000,$date:1609687531000,$date:1609687531000,$date:1609687536000,$date:1609687531000,500.0,$date:1609632000000,5.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,$oid:5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",$date:1609687483000,$date:1609687483000,$date:1609687483000,$date:1609687488000,$date:1609687483000,150.0,$date:1609601083000,2.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,$oid:5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,$date:1609687537000,$date:1609687537000,NaN,$date:1609687542000,NaN,5.0,$date:1609632000000,1.0,needsFetchReview:false|partnerItemId:1|prevent...,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,$oid:5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,$date:1609687534000,$date:1609687534000,$date:1609687534000,$date:1609687539000,$date:1609687534000,5.0,$date:1609632000000,4.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,$oid:5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,$date:1609687506000,$date:1609687506000,$date:1609687511000,$date:1609687511000,$date:1609687506000,5.0,$date:1609601106000,2.0,barcode:4011|description:ITEM NOT FOUND|finalP...,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

#### Checking datatypes of Receipts dataframe

In [173]:
receipts.dtypes

ReceiptID                   object
BonusPointsEarned          float64
BonusPointsEarnedReason     object
CreateDate                  object
DateScanned                 object
FinishedDate                object
ModifyDate                  object
PointsAwardedDate           object
PointsEarned               float64
PurchaseDate                object
PurchaseItemCount          float64
RewardsReceiptItemList      object
RewardsReceiptStatus        object
TotalSpent                 float64
UserID                      object
dtype: object

#### Data cleaning

In [174]:
receipts['ReceiptID'] = receipts['ReceiptID'].str[5:]
receipts['CreateDate'] = receipts['CreateDate'].str[6:]
receipts['DateScanned'] = receipts['DateScanned'].str[6:]
receipts['FinishedDate'] = receipts['FinishedDate'].str[6:]
receipts['ModifyDate'] = receipts['ModifyDate'].str[6:]
receipts['PointsAwardedDate'] = receipts['PointsAwardedDate'].str[6:]
receipts['PurchaseDate'] = receipts['PurchaseDate'].str[6:]

In [175]:
receipts2 = receipts['RewardsReceiptItemList']
receipts = receipts.drop('RewardsReceiptItemList', 1)
receipts2.head()

0    barcode:4011|description:ITEM NOT FOUND|finalP...
1    barcode:4011|description:ITEM NOT FOUND|finalP...
2    needsFetchReview:false|partnerItemId:1|prevent...
3    barcode:4011|description:ITEM NOT FOUND|finalP...
4    barcode:4011|description:ITEM NOT FOUND|finalP...
Name: RewardsReceiptItemList, dtype: object

#### Checking Null/Missing Values

In [176]:
receipts.isna().sum()

ReceiptID                    0
BonusPointsEarned          575
BonusPointsEarnedReason    575
CreateDate                   0
DateScanned                  0
FinishedDate               551
ModifyDate                   0
PointsAwardedDate          582
PointsEarned               510
PurchaseDate               448
PurchaseItemCount          484
RewardsReceiptStatus        17
TotalSpent                 452
UserID                      17
dtype: int64

In [177]:
receipts['BonusPointsEarned'].fillna(0 , inplace=True)

In [178]:
receipts['BonusPointsEarnedReason'].fillna('No Bonus Points Awarded', inplace=True)

In [179]:
receipts['PointsEarned'].fillna(0 , inplace=True)

In [180]:
receipts = receipts.drop('FinishedDate', 1)

In [181]:
receipts['PointsAwardedDate'].fillna(min((receipts['PointsAwardedDate']).astype(str)), inplace=True)

In [182]:
for i in receipts.index:
    if ((pd.isna(receipts['PurchaseDate'][i])) == True):
        receipts['PurchaseDate'][i] = receipts['CreateDate'][i]

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [183]:
receipts['RewardsReceiptStatus'].fillna('Not Known', inplace=True)

In [184]:
receipts['PurchaseItemCount'].fillna(0 , inplace=True)

In [185]:
receipts['TotalSpent'].fillna(0 , inplace=True)

In [186]:
receipts.dropna()

,ReceiptID,BonusPointsEarned,BonusPointsEarnedReason,CreateDate,DateScanned,ModifyDate,PointsAwardedDate,PointsEarned,PurchaseDate,PurchaseItemCount,RewardsReceiptStatus,TotalSpent,UserID
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,1609687542000,1604089080000,5.0,1609632000000,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1609687511000,1609687506000,5.0,1609601106000,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,1614594148000,1604089080000,25.0,1597622400000,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,0.0,No Bonus Points Awarded,1614613361873,1614613361873,1614613361873,1604089080000,0.0,1614613361873,0.0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,0.0,No Bonus Points Awarded,1614607657664,1614607657664,1614607657664,1604089080000,0.0,1614607657664,0.0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,1614604049000,1604089080000,25.0,1597622400000,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,0.0,No Bonus Points Awarded,1614565354962,1614565354962,1614565354962,1604089080000,0.0,1614565354962,0.0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33

In [187]:
receipts.isna().sum()

ReceiptID                   0
BonusPointsEarned           0
BonusPointsEarnedReason     0
CreateDate                  0
DateScanned                 0
ModifyDate                  0
PointsAwardedDate           0
PointsEarned                0
PurchaseDate                0
PurchaseItemCount           0
RewardsReceiptStatus        0
TotalSpent                  0
UserID                     17
dtype: int64

In [188]:
receipts.head()

,ReceiptID,BonusPointsEarned,BonusPointsEarnedReason,CreateDate,DateScanned,ModifyDate,PointsAwardedDate,PointsEarned,PurchaseDate,PurchaseItemCount,RewardsReceiptStatus,TotalSpent,UserID
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,1609687542000,1604089080000,5.0,1609632000000,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1609687511000,1609687506000,5.0,1609601106000,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [189]:
receipts.to_csv('C:/Users/prath/OneDrive/Desktop/FetchRewards/receipts2.csv')

#### Changing format to Date/Time

In [190]:
import datetime
from datetime import datetime
for i in receipts.index:
    receipts['CreateDate'][i] = str(receipts['CreateDate'][i])[:10]
    receipts['DateScanned'][i] = str(receipts['DateScanned'][i])[:10]
    receipts['ModifyDate'][i] = str(receipts['ModifyDate'][i])[:10]
    receipts['PointsAwardedDate'][i] = str(receipts['PointsAwardedDate'][i])[:10]
    receipts['PurchaseDate'][i] = str(receipts['PurchaseDate'][i])[:10]
    receipts['CreateDate'][i] = datetime.fromtimestamp(int(receipts['CreateDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')
    receipts['DateScanned'][i] = datetime.fromtimestamp(int(receipts['DateScanned'][i])).strftime('%Y-%m-%d %I:%M:%S %p')
    receipts['ModifyDate'][i] = datetime.fromtimestamp(int(receipts['ModifyDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')
    receipts['PointsAwardedDate'][i] = datetime.fromtimestamp(int(receipts['PointsAwardedDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')
    receipts['PurchaseDate'][i] = datetime.fromtimestamp(int(receipts['PurchaseDate'][i])).strftime('%Y-%m-%d %I:%M:%S %p')

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\prath\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [191]:
receipts.head()

,ReceiptID,BonusPointsEarned,BonusPointsEarnedReason,CreateDate,DateScanned,ModifyDate,PointsAwardedDate,PointsEarned,PurchaseDate,PurchaseItemCount,RewardsReceiptStatus,TotalSpent,UserID
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 10:25:31 AM,2021-01-03 10:25:31 AM,2021-01-03 10:25:36 AM,2021-01-03 10:25:31 AM,500.0,2021-01-02 07:00:00 PM,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 10:24:43 AM,2021-01-03 10:24:43 AM,2021-01-03 10:24:48 AM,2021-01-03 10:24:43 AM,150.0,2021-01-02 10:24:43 AM,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 10:25:37 AM,2021-01-03 10:25:37 AM,2021-01-03 10:25:42 AM,2020-10-30 04:18:00 PM,5.0,2021-01-02 07:00:00 PM,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 10:25:34 AM,2021-01-03 10:25:34 AM,2021-01-03 10:25:39 AM,2021-01-03 10:25:34 AM,5.0,2021-01-02 07:00:00 PM,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 10:25:06 AM,2021-01-03 10:25:06 AM,2021-01-03 10:25:11 AM,2021-01-03 10:25:06 AM,5.0,2021-01-02 10:25:06 AM,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

#### rewardsReceiptItemList

In [192]:
type(receipts2)

pandas.core.series.Series

In [193]:
rec = receipts2.str.split("\n", expand = True)

In [194]:
rec.fillna(" ", inplace = True)

In [195]:
rec.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,barcode:4011|description:ITEM NOT FOUND|finalP...,,,,,,,,,,...,,,,,,,,,,
1,barcode:4011|description:ITEM NOT FOUND|finalP...,barcode:028400642255|description:DORITOS TORTI...,,,,,,,,,...,,,,,,,,,,
2,needsFetchReview:false|partnerItemId:1|prevent...,,,,,,,,,,...,,,,,,,,,,
3,barcode:4011|description:ITEM NOT FOUND|finalP...,,,,,,,,,,...,,,,,,,,,,
4,barcode:4011|description:ITEM NOT FOUND|finalP...,barcode:1234|finalPrice:2.56|itemPrice:2.56|ne...,,,,,,,,,...,,,,,,,,,,

In [196]:
col_names = ['barcode', 'needsFetchReview', 'brandCode', 'description', 'discountedItemPrice', 'needsFetchReviewReason', 'partnerItemId', 'competitiveProduct', 'finalPrice', 'competitorRewardsGroup', 'preventTargetGapPoints', 'itemPrice', 'userFlaggedQuantity', 'userFlaggedBarcode', 'originalReceiptItemText', 'userFlaggedNewItem', 'userFlaggedPrice', 'priceAfterCoupon', 'pointsEarned', 'quantityPurchased', 'userFlaggedDescription','metabriteCampaignId','originalReceiptItemText','metabriteBarcode','metabriteDescription','pointsPayerId', 'quantity', 'targetPrice']
col_names_dict = {i:[] for i in col_names}

In [197]:
lst = []
for i in rec.columns:
    for j in rec[i]:
        for cn in col_names_dict:
            if cn in j:
                col_names_dict[cn].append(j.split(cn)[-1].split('|')[0].split(':')[-1])
            else:
                col_names_dict[cn].append('')
    #lst.append(rec[i].str.split("|", expand = True))

In [199]:
[len(v) for k,v in col_names_dict.items()]

[199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182,
 199182]

In [200]:
df_test = pd.DataFrame(col_names_dict)

In [201]:
df_test.head()

,barcode,needsFetchReview,brandCode,description,discountedItemPrice,needsFetchReviewReason,partnerItemId,competitiveProduct,finalPrice,competitorRewardsGroup,...,priceAfterCoupon,pointsEarned,quantityPurchased,userFlaggedDescription,metabriteCampaignId,metabriteBarcode,metabriteDescription,pointsPayerId,quantity,targetPrice
0,4011,false,,ITEM NOT FOUND,,,1,,26.00,,...,,,5,,,,,,5,
1,4011,,,ITEM NOT FOUND,,,1,,1,,...,,,1,,,,,,1,
2,,false,,,,,1,,,,...,,,,,,,,,,
3,4011,false,,ITEM NOT FOUND,,,1,,28.00,,...,,,4,,,,,,4,
4,4011,,,ITEM NOT FOUND,,,1,,1,,...,,,1,,,,,,1,

In [202]:
rewardsrewardsReceiptItemList = df_test

#### Final rewardsrewardsReceiptItemList after data preprocessing techniques

In [205]:
rewardsrewardsReceiptItemList.head()

,barcode,needsFetchReview,brandCode,description,discountedItemPrice,needsFetchReviewReason,partnerItemId,competitiveProduct,finalPrice,competitorRewardsGroup,...,priceAfterCoupon,pointsEarned,quantityPurchased,userFlaggedDescription,metabriteCampaignId,metabriteBarcode,metabriteDescription,pointsPayerId,quantity,targetPrice
0,4011,false,,ITEM NOT FOUND,,,1,,26.00,,...,,,5,,,,,,5,
1,4011,,,ITEM NOT FOUND,,,1,,1,,...,,,1,,,,,,1,
2,,false,,,,,1,,,,...,,,,,,,,,,
3,4011,false,,ITEM NOT FOUND,,,1,,28.00,,...,,,4,,,,,,4,
4,4011,,,ITEM NOT FOUND,,,1,,1,,...,,,1,,,,,,1,